.app {
  width: 80%;
  margin: 0 auto;
}
.app__container {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
.app__formDate {
  flex: 1;
}
.app__listDate {
 flex: 1;
}

.app__listCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}